@media only screen and (max-width: 800px) {
    #python-logo{
        display: none !important;
    }
    .navigation{
        width: 95vw !important;
        margin-top: 16px !important;
    }

    .navigation > h1{
        margin: 0 8px !important;
        font-size: 2rem !important;
    }

    .navigation > h3{
        margin: 0 8px !important;
    }

    #python-logo{
        max-height: 50px !important;
        display: block !important;
        margin: auto !important;
        position: static !important;
    }

}

.navigation{
    margin-top: 45vh;
    width: 50%;
}


.navigation > h1{
    cursor: pointer;
    margin: 0 40px;
    padding: 25px 0;
    font-size: 3rem;
    transition: color 200ms ease-in;
}

.navigation > h3{
    margin: 0 40px;
    padding: 25px 0;
    font-size: 1rem;
    color: grey;

}


#python-logo{
    position: fixed;
    top: 25%;
    right: 100px;
    max-width: 50%;
}