@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@400;700&display=swap');


body{
    background-color: #181D31;
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -25px -25px;
    color: white;
    font-family: "Baskervville";
}
