@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,900&display=swap');

body{
    background-color: #181D31;
    background-image: radial-gradient(black 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -25px -25px;
    color: white;
    font-family: "Chivo Mono";
}
